<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:layout name="Backend" />

<f:section name="content">
	<h1>
		<f:translate key="LLL:EXT:ujamii_dsgvo/Resources/Private/Language/locallang_be.xlf:module.title" />
	</h1>

	<f:if condition="{recordsToDelete}">
		<f:for each="{recordsToDelete}" as="tables" key="extension">
			<div class="panel panel-default">
				<div class="panel-heading">Extension: {extension}</div>
				<div class="panel-body">
					<f:if condition="{tables}">
						<f:then>
							<f:for each="{tables}" as="count" key="tableName">
								<f:if condition="{count} == 0">
									<f:then>
										<div class="alert alert-success">
									</f:then>
									<f:else>
										<div class="alert alert-danger">
									</f:else>
								</f:if>
								<f:translate key="LLL:EXT:ujamii_dsgvo/Resources/Private/Language/locallang_be.xlf:module.table" /> "{tableName}": {count}</div>
							</f:for>
						</f:then>
						<f:else>
							<div class="alert alert-success">
								<f:translate key="LLL:EXT:ujamii_dsgvo/Resources/Private/Language/locallang_be.xlf:module.notloaded" />
							</div>
						</f:else>
					</f:if>
				</div>
			</div>
		</f:for>
	</f:if>

	<f:form method="post" action="delete">
		<input type="hidden" name="M" value="web_UjamiiDsgvoDsgvocheck">
		<input type="hidden" name="moduleToken" value="{moduleToken}">
		<input type="hidden" name="id" value="{page}">

		<div class="form">
			<div class="form">
				<div class="form-group">
					<f:form.button type="submit" class="btn btn-danger" name="mode" value="delete">{f:translate(key:'LLL:EXT:ujamii_dsgvo/Resources/Private/Language/locallang_be.xlf:module.delete')}</f:form.button>
					<f:form.button type="submit" class="btn btn-warning" name="mode" value="anonymize">{f:translate(key:'LLL:EXT:ujamii_dsgvo/Resources/Private/Language/locallang_be.xlf:module.anonymize')}</f:form.button>
				</div>
			</div>
		</div>
	</f:form>
</f:section>
</html>
