<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<script>
	window.addEventListener("load", function(){
		window.cookieconsent.initialise({
			"palette": {
				"popup": {
					"background": "#000"
				},
				"button": {
					"background": "#75ac1f",
					"text": "#ffffff"
				}
			},
			"position": "top",
			"static": true,
			"content": {
				"message": '<f:translate key="LLL:EXT:ujamii_dsgvo/Resources/Private/Language/locallang.xlf:cookie.message" />',
				"dismiss": '<f:translate key="LLL:EXT:ujamii_dsgvo/Resources/Private/Language/locallang.xlf:cookie.dismiss" />',
				"link": '<f:translate key="LLL:EXT:ujamii_dsgvo/Resources/Private/Language/locallang.xlf:cookie.btn" />',
				"href": "<f:cObject typoscriptObjectPath='lib.marks.PRIVACY-PAGE'/>"
			}
		})});
</script>

</html>